<h1 class="center display-5">My Profile Access</h1>
<div id="account-box">
	<div class="row justify-content-around" style="padding: 5px;">
		<div class="col-11 round-border">
			<form id="account-form " class="account-validation" novalidate>
				<div class="row form-group">
					<div class="col">
						<label><b><span class="required">* </span>First Name</b></label> <input
							type="text" class="form-control form-control-sm"
							id="first-name-form" placeholder="First Name">
					</div>
					<div class="col">
						<label><b><span class="required">* </span>Last Name</b></label> <input
							type="text" class="form-control form-control-sm"
							id="last-name-form" placeholder="Last Name">
					</div>
					<div class="col">
						<label><b><span class="required">* </span>User Name</b></label> <input
							type="text" class="form-control form-control-sm"
							id="user-name-form" placeholder="User Name">
					</div>
					<div class="col">
						<label><b><span class="required">* </span>Password</b></label> <input
							type="text" class="form-control form-control-sm"
							id="password-form" placeholder="Password">
					</div>
					<div class="col">
						<label><b><span class="required">* </span>User Email</b></label> <input
							type="text" class="form-control form-control-sm" id="email-form"
							placeholder="User Email">
					</div>
					<div class="col">
						<label><b><span class="required">* </span>User Role</b></label> <select
							class="form-control form-control-sm" id="role-dropdown">
						</select>
					</div>
				</div>
				<input id="hidden-employee-id" type="number" style="display: none;">

				<button type="button" id="employee-submit" class="btn btn-outline-primary"
					style="display: none;">Submit</button>
				<button type="button" id="account-change" class="btn btn-outline-primary">Change</button>
				<button type="button" id="account-cancel" class="btn btn-outline-primary"
					style="display: none;">Cancel</button>
			</form>
			<h6 style="text-align: right">
				<span class="required">* </span>= Required.
			</h6>
		</div>
	</div>
</div>

<script>
$('#account-change').on('click', setAccountChange);
$('#account-cancel').on('click', populateAccountData);
$('#employee-submit').on('click', accountSubmit);
populateAccountData();
</script>